.my-user-card {
  padding: 10px;
  border: 2px inset #873939;
  margin: 10px;
  text-align: left;
  .user-card-title {
    font-weight: bold;
    color: coral;
    margin-bottom: 8px;
  }
  .user-card-content {
    padding-left: 40px;
    div {
      padding: 8px 10px;
      border-bottom: 1px dotted rgb(255, 255, 255);
      color: cadetblue;
      cursor: pointer;
      &:hover {
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
      }
    }
  }
}
